.section-card{

width:min(1000px,90%);

margin:25px auto;

border-radius:24px;

overflow:hidden;

background:white;

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.section-header{

width:100%;

padding:24px 32px;

display:flex;

justify-content:space-between;

align-items:center;

border:none;

cursor:pointer;

background:white;

font-size:1.25rem;

font-weight:600;

font-family:"Poppins",sans-serif;

transition:.35s;

}

.section-header:hover{

background:#eef6ff;

}

.section-header.active{

background:#dfeeff;

color:#23539f;

}

.section-content{

padding:30px;

font-family:"Poppins",sans-serif;

line-height:1.8;

color:#5d6777;

background:white;

}